body {
  padding: 0%;
  margin: 0%;
  font-family: 'PT Serif', serif;
}

ul {
  padding: 0%;
  margin: 0%;
}

li {
  padding: 16px;
  border-bottom: 1px solid white;
}

li:hover {
  background-color: #95C8D8;
  color: white;
}

.navlinks {
  background-color: #151E3D;
  color: white;
  text-align: center;
  font-size:1.2rem;
}

.imagebanner {
  background-image:url("https://external-preview.redd.it/JKVf8cAiCwy6JJUgUIsRJGAVoVln3yPTEH_s0viSQKs.jpg?auto=webp&s=2fb05f618a7215354774b77197159427af4f5a34");
  padding: 250px ;
  background-size: cover;
}



h2{
  text-align: center;
  color: white;
  background-color: black;
  padding: 25px;
 
}

.introduction {
  text-align: center;
  color: white;
  background-color: #151E3D;
  font-size: 1.2rem;
}
.ourmerch {
  text-align: center;
  margin: 32px;
  color: white;
  background-color: #151E3D;
  
  
}

@media screen and (min-width: 700px){
  ul{
    text-align: center;
  }
  
  li{
    display: inline-block;
    border-bottom:0px;
   border-left: 1px solid white;
    border-right: 1px solid white;
  }
  
  .merch{
    width: 33%;
    display: inline-block;
    vertical-align: top;
    padding-top: 2%;
    
  }

   
}

